@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fg: 0, 0, 0;
  --bg: 255, 255, 255;
}

html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: black;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--bg));
}

input,
select {
  color: #fff !important;
  -webkit-text-fill-color: #fff !important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
}
